/.vscode/*
*.pyc
server_python/__pycache__/client_db.cpython-38.pyc
server_python/__pycache__/client_db.cpython-38.pyc
*/*.pyc
*/*/*./pyc
server_python/__pycache__/client_db.cpython-38.pyc
*/__pycache__/*
server_python/__pycache__/client_db.cpython-38.pyc
