
/*

COMMUN A index.html ET A game.html

*/

html{
    height:100%;
}

body{
    background: linear-gradient(to bottom left, rgb(8,8,8), rgb(60,60,60));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 99%;
    height:97%;
    color:white;
    font-size: large;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding:0;
}

a{
    color: gold;
}a:hover{
    color:goldenrod;
}a:active{
    color:orange;
}

.center{
    margin:auto;
    margin-top: 15%;
}

.hcenter{
    margin-left:25%;
    margin-right:10%;
    margin-bottom: 5px;
}

.box{
    border:none;
    border-radius:20px;
    background-color: rgba(100,100,100,0.3);
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*

JUSTE POUR index.html

*/

.bt_oeil{
    position: relative;
    top:-5px;
    margin-left: 5px;
    width:20px;
    height:20px;
    background: none;
    background-image: url("../res/oeil.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border:none;

    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

.ac_input{
    background-color: black;
    color:white;
    font-family: "Courier New", Courier, monospace;
    text-align:center;
    border:none;
    text-decoration: none;
    font-size: 20px;
    min-height: 30px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.good_input{
    border:1px solid green;
    text-shadow: green 1px 0 10px;
}

.false_input{
    border:1px solid red;
    text-shadow: red 1px 0 10px;
}

#alert_wait{
    display: none;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:10px;
    background-color: rgba(0,0,0,0.8);
    color:white;
    padding-top:auto;
    text-align:center;
}

#alert_text{
    position: absolute;
    top:35%;
    bottom:35%;
    left:25%;
    right:25%;
}

/*

JUSTE POUR client.html

*/

.main{
    margin:20px;
}

#divinput{
    margin-left:5%;
    margin-right:5%;
}

#input{
    background-color: black;
    border: none;
    color:white;
    min-height:35px;
    width:80%;
    padding:5px;
    padding-left: 5%;
    padding-right: 5%;
}

#bt{
    background-color: white;
    color:black;
    width:10%;
    min-height:35px;
    border:none;
    border-radius: 5px;
}#bt:hover{
    background-color: rgb(220,220,220);
}#bt:active{
    background-color: rgb(120,120,120);
    border-radius: 10px;
}

#messages{
    width:99%;
    height: 90%;
    border:none;
    border-radius: 15px;
    background-color: black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
}

.mes{
    margin:0;
    padding: 2px;
    display: flex;
    flex-direction: row;
}
#mm{
    margin-top: auto;
    position: relative;
    bottom: 0;
    padding-bottom: 20px;
    margin-left: 20px;
}

.txt_commande{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#div_creation_perso{
    display:none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(8,8,8);
}

.marge_a_gauche{
    margin-left: 30px;
}

.elt{
    margin-top: 10px;
}












