body{
    background: linear-gradient(to bottom left, rgb(0,0,0), rgb(50,50,50));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 99%;
    height:78.5%;
    color:white;
    font-size: large;
}

.bt_oeil{
    position: relative;
    top:-5px;
    margin-left: 5px;
    width:20px;
    height:20px;
    background: none;
    background-image: url("../res/oeil.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border:none;

    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

.center{
    margin:auto;
    margin-top: 10%;
}

.hcenter{
    margin-left:25%;
    margin-right:25%;
}

.box{
    border:none;
    border-radius:20px;
    background-color: rgba(100,100,100,0.3);
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
